* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #202026;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  height: 80px;
}

.logo img {
  width: 64px;
}

.menu-items a img {
  width: 26px;
}

.menu-items a {
  margin-left: 30px;
}

.content {
  height: calc(100vh - 80px);
  width: 100%;
  padding: 0 5%;
  display: flex;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.left-side {
  font-size: 50px;
  color: #00c0af;
}

.left-side p {
  color: #fff;
  margin-bottom: 60px;
}

.left-side span {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.left-side a {
  text-decoration: none;
  color: #fff;
  background-color: #00c0af;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 5px;
}

.right-side {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side img {
  background-color: #fff;
}
